:host {
  display: block;
  height: 100%;
}

#cf-ui-menu md-menu {
  height: var(--menu-height);
}

#anchor {
  height: 100%;
}

[part="menu-item"] [slot="headline"]{
  color: var(--cf-context-menu-font-color);
}
