@import url('../scrollbar/index.css');

.cf-light-theme {
  --cf-context-menu-bg: #fdfdfd;
  --cf-context-menu-font-color: #000000;
  --cf-context-menu-font-color-disabled: #b3b3b3;
  --cf-context-menu-item-hover-bg: #f2f2f2;
  --cf-context-menu-item-font-color: #e6e6e6;

  --cf-carousel-bullet-bg: #fdfdfd;
  --cf-carousel-bullet-bg-hover: #757575;
}
