.grid-template {
  grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
}

.swiper-horizontal {
  & > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.3rem;
  }
}
.swiper {
  .swiper-pagination {
    $bullet-width: 0.5rem;
    $bullet-height: 0.5rem;

    .swiper-pagination-bullet {
      width: $bullet-width;
      height: $bullet-height;
      opacity: .5;
      background-color: var(--cf-carousel-bullet-bg);
    }

    .swiper-pagination-bullet-active {
      width: $bullet-width;
      height: $bullet-height;
      opacity: .8;
      background: var(--cf-carousel-bullet-bg-hover);
    }
  }
}
