*, ::before, ::after {
  box-sizing: border-box;
}

*, ::before, ::after {
  background-repeat: no-repeat;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
}

html {
  line-height: 1.5;
}

html {
  tab-size: 4;
}

html {
  word-break: break-all;
}

body {
  margin: 0;
}

nav ol, nav ul {
  list-style: none;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

svg:not([fill]) {
  fill: currentColor;
}

table {
  border-collapse: collapse;
}

textarea {
  resize: vertical;
}

a, area, button, input, label, select, summary, textarea, [tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[aria-busy="true"] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled="true"], [disabled] {
  cursor: default;
}

[aria-hidden="false"][hidden] {
  display: initial;
}

[aria-hidden="false"][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
