[data-part="positioner"] {
  border-radius: 5px;
  overflow: hidden;
}
.cf-ui-content-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cf-context-menu-bg);
  backdrop-filter: blur(10px);
  opacity: 0.5;
  z-index: 1;
}
[data-part="content"] {
  margin-block: 0;
  padding-inline-start: 0;
  position: relative;
  background-color: transparent;
  z-index: 2;
}
.cf-ui-focus-outline:focus, .cf-ui-focus-outline[data-focus] {
  outline: 1px solid var(--cf-context-menu-outline-color);
}
[data-part="item"] {
  padding-inline: 20px;
  padding-block: 5px;
  list-style: none;
  color: var(--cf-context-menu-font-color);
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5),
               0 1px 0 rgba(0, 0, 0, 0.7);
  cursor: pointer;
  user-select: none;
}
[data-part="item"][data-highlighted] {
  background: linear-gradient(to top, var(--cf-context-menu-item-hover-bg) 10%, var(--cf-context-menu-item-hover-bg-darken) 90%);
  color: var(--cf-context-menu-item-hover-font-color);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7),
               0 1px 0 rgba(255, 255, 255, 0.5);
}
