@import url('../../../node_modules/overlayscrollbars/styles/overlayscrollbars.min.css');

:host {
  display: block;
}

:host > div {
  height: 100%;
}

.overlayscrollbars {
  width: 100%;
  height: 100%;
}

[data-overlayscrollbars-viewport] {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
